.dx-datagrid-header-panel {
    height: 36px !important;
    margin: 5px 0px 6px 0px;
}

.header {
    border-bottom: 1px solid #c8ccd0;
}

.container {
    padding: 0px;
    margin-left: 0px;
    position: relative;
}

.dx-toolbar {
    padding-left:30px;
}

.dx-toolbar-item {
    width: 60px;
}

.dx-button-text {
    display: block !important;
}

.dx-drawer-panel-content {
    border-right: 1px solid #c8ccd0
}

.drawer {
    height: 100%;
}

/*.right-content {
    position: absolute;
    right: 0;
    left: 220px;
    top: 0;
    height: 100%;
}*/